header {
    display: flex;
    justify-content: space-between;
    height: 70px; 
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background: white url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    flex-shrink: 0;
}

#api_status {
    background-color: #cccccc;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-self: center;
    margin-right: 30px;
}

div#api_status.available {
    background-color: #ff545f;
}
